apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- deployment.yaml
- ingress.yaml
- service.yaml
- hpa.yaml
- configmap.yaml

images:
- name: hmschlng/edu-goods
  newTag: "202501230336"
- name: hmschlng/edu-user
  newTag: "202501230336"
