name: Java CI with Gradle

on: workflow_dispatch

env:
  REPO_ACCOUNT: hmschlng

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: '1-1. Checkout User Repository'
        uses: actions/checkout@v4
        with:
          repository: hmschlng/edu-user
          path: edu-user
          token: ${{secrets.REPO_TOKEN}}

      - name: '1-2. Set up JDK 17'
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: '1-3. Build with Gradle Wrapper'
        run: |
          cd edu-user
          ./gradlew build

      - name: '1-4. Setup Kustomize'
        uses: imranismail/setup-kustomize@v1

      - name: '1-5. Gen Version'
        id: gen-version
        run: |
          export TZ=Asia/Seoul
          echo "VERSION=$(date +%Y%m%d%H%M)" >> $GITHUB_ENV

      - name: '1-6. Dockerhub login'
        uses: docker/login-action@v1
        with:
          login-server: ${{ secrets.DOCKERHUB_LOGIN_SERVER }}
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: '1-7. Build & Tag Image'
        run: |
          docker build -t ${{ secrets.DOCKERHUB_LOGIN_SERVER  }}/edu-user:${{ env.VERSION }} -f Dockerfile .
          docker tag ${{ secrets.DOCKERHUB_LOGIN_SERVER  }}/edu-user:${{ env.VERSION }} ${{ env.REPO_ACCOUNT  }}/edu-user:${{ env.VERSION }}

      - name: '1-8. Push image'
        uses: docker/login-action@v1
        with:
          login-server: ${{ secrets.DOCKERHUB_LOGIN_SERVER  }}
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - run: |
          docker push ${{ env.REPO_ACCOUNT }}/edu-user:${{ env.VERSION }}

      - name: Update Kubernetes resources
        run: |
          echo "`ls`"
          cd manifests/overlays/prod
          kustomize edit set image ${{ env.REPO_ACCOUNT }}/edu-user:${{ env.VERSION }}
          cat kustomization.yaml

      - name: Commit files
        run: |
          cd manifests
          echo "`ls`"
          git config --global user.email "github-actions@github.com"
          git config --global user.name "github-actions"
          git commit -am "Update image tag"
          git push -u origin main
